/* Space out content a bit */

body{
    background: #ffffff;
}

body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.row{
    padding-top: 15px;
    padding-bottom: 15 px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

#prevButton{
    text-align: left;
    font-family: Futura;
    color: #5E101C;
}

#nextButton{
    text-align: right;
    font-family: Futura;
    color: #5E101C;
}

div{
    vertical-align: middle;
}

#headerText{
    text-align: center;
    color: #5E101C;
    font-family: Futura;
}

#maincontainer{
    padding-top: 10%;
    padding-bottom: 10%;
}

button{
    padding: 20px;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px;
    margin-left: 20px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#numberofplates{
    font-family: Futura;
    font-size: 20px;
    margin-right: 15px;
}